/* ESTILOS GLOBAIS
-------------------------------------------------- */
/* Padding abaixo do footer e texto mais suave no <body> */

body {
    padding-top: 3rem;
}

main h2 {
    font-family: 'Shadows Into Light', cursive;
    color: #16181b;
}

.text-muted {
    font-family: 'Shadows Into Light', cursive;
    color: #a31b1b !important;
}

main p {
    color: #16181b;
    font-family: 'Bebas Neue', cursive;
}

main img {
    border-radius: 15px;
    box-shadow: 10px 10px 10px 1px #16181b;
}

p span {
    color: #a31b1b;
}

.col-md-7 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/*-------------------------------------------------- */

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 1rem;
    }
}

@media (max-width: 450px) {
    body {
        margin-top: -5rem;
    }

    p span {
        display: none;
    }
}